html,
body {
    height: 100%;
}

/* Common */
.pointer:hover {
    cursor: pointer !important;
    position: relative;
}

/* Chat Detail */
div.chat {
    height: calc(100% - 56px - 3rem);
}

div.chat ul {
    height: calc(100% - 100px);
    list-style: none;
    padding: 0px;
}

div.chat ul li.other {
    text-align: left;
}

div.chat ul li.me {
    text-align: right;
}

div.chat textarea {
    position: inherit;
    resize: none;
    width: 80%;
    border-radius: 10px !important;
    margin-right: 5px;
}